In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randint(0,100,size=(50,3)), columns=list('123'))

for c in  df.sample(int(df.shape[0]*df.shape[1]*0.10)).index:
    df.loc[c,str(np.random.randint(1,4))]=np.nan
df

       1     2     3
0   46.0  86.0  82.0
1   93.0  78.0  28.0
2   48.0   1.0   NaN
3   84.0  98.0  10.0
4   50.0  43.0  39.0
5   52.0  70.0  80.0
6   12.0   7.0  80.0
7    9.0  53.0  52.0
8    NaN  90.0  86.0
9   83.0   6.0  21.0
10  58.0   NaN  61.0
11  86.0  11.0  99.0
12  96.0   NaN  70.0
13  69.0  24.0  28.0
14   NaN  59.0  53.0
15  87.0  91.0  90.0
16   3.0   0.0  45.0
17  69.0  15.0   NaN
18   2.0  32.0  66.0
19  64.0  95.0  10.0
20  65.0  65.0  60.0
21  63.0  91.0  14.0
22  39.0   NaN  33.0
23  66.0  83.0  56.0
24  19.0   7.0  53.0
25  94.0  32.0  85.0
26  79.0  43.0  13.0
27   NaN  63.0  48.0
28  93.0  79.0   9.0
29  38.0  56.0   NaN
30  70.0  31.0  37.0
31   5.0   0.0   7.0
32  24.0   NaN  94.0
33  65.0  37.0  74.0
34  69.0   NaN  47.0
35  67.0  67.0  77.0
36  74.0  84.0  16.0
37  21.0  89.0  83.0
38  30.0  68.0  69.0
39  31.0  30.0   NaN
40  75.0  21.0  65.0
41  39.0  90.0  35.0
42  18.0  76.0   0.0
43  13.0  53.0  87.0
44   NaN  58.0  69.0
45  94.0   NaN  87.0
46  71.0  60.0  55.0
47  98.0   NaN  53.0
48  28.0  45.0  47.0
49  64.0  56.0  53.0

In [2]:
#a
print(df.isnull().sum().sum())

15

In [3]:
#b
for col in df.columns:
    if((df[col].isnull().sum())>5):
        df.drop(columns=[col])
df

       1     2     3
0   46.0  86.0  82.0
1   93.0  78.0  28.0
2   48.0   1.0   NaN
3   84.0  98.0  10.0
4   50.0  43.0  39.0
5   52.0  70.0  80.0
6   12.0   7.0  80.0
7    9.0  53.0  52.0
8    NaN  90.0  86.0
9   83.0   6.0  21.0
10  58.0   NaN  61.0
11  86.0  11.0  99.0
12  96.0   NaN  70.0
13  69.0  24.0  28.0
14   NaN  59.0  53.0
15  87.0  91.0  90.0
16   3.0   0.0  45.0
17  69.0  15.0   NaN
18   2.0  32.0  66.0
19  64.0  95.0  10.0
20  65.0  65.0  60.0
21  63.0  91.0  14.0
22  39.0   NaN  33.0
23  66.0  83.0  56.0
24  19.0   7.0  53.0
25  94.0  32.0  85.0
26  79.0  43.0  13.0
27   NaN  63.0  48.0
28  93.0  79.0   9.0
29  38.0  56.0   NaN
30  70.0  31.0  37.0
31   5.0   0.0   7.0
32  24.0   NaN  94.0
33  65.0  37.0  74.0
34  69.0   NaN  47.0
35  67.0  67.0  77.0
36  74.0  84.0  16.0
37  21.0  89.0  83.0
38  30.0  68.0  69.0
39  31.0  30.0   NaN
40  75.0  21.0  65.0
41  39.0  90.0  35.0
42  18.0  76.0   0.0
43  13.0  53.0  87.0
44   NaN  58.0  69.0
45  94.0   NaN  87.0
46  71.0  60.0  55.0
47  98.0   NaN  53.0
48  28.0  45.0  47.0
49  64.0  56.0  53.0

In [4]:
#c
sum=df.sum(axis=1)
print("Sum :",sum)
print("Max sum:",sum.max())
maxSum = df.sum(axis=1).idxmax()
print("Row Label having maximum sum:" )
print(maxSum)

df = df.drop(maxSum ,axis =0)
print("DF after removing row of maximum sum value")
df

Sum : 0     214.0
1     199.0
2      49.0
3     192.0
4     132.0
5     202.0
6      99.0
7     114.0
8     176.0
9     110.0
10    119.0
11    196.0
12    166.0
13    121.0
14    112.0
15    268.0
16     48.0
17     84.0
18    100.0
19    169.0
20    190.0
21    168.0
22     72.0
23    205.0
24     79.0
25    211.0
26    135.0
27    111.0
28    181.0
29     94.0
30    138.0
31     12.0
32    118.0
33    176.0
34    116.0
35    211.0
36    174.0
37    193.0
38    167.0
39     61.0
40    161.0
41    164.0
42     94.0
43    153.0
44    127.0
45    181.0
46    186.0
47    151.0
48    120.0
49    173.0
dtype: float64
Max sum: 268.0
Row Label having maximum sum:
15
DF after removing row of maximum sum value

       1     2     3
0   46.0  86.0  82.0
1   93.0  78.0  28.0
2   48.0   1.0   NaN
3   84.0  98.0  10.0
4   50.0  43.0  39.0
5   52.0  70.0  80.0
6   12.0   7.0  80.0
7    9.0  53.0  52.0
8    NaN  90.0  86.0
9   83.0   6.0  21.0
10  58.0   NaN  61.0
11  86.0  11.0  99.0
12  96.0   NaN  70.0
13  69.0  24.0  28.0
14   NaN  59.0  53.0
16   3.0   0.0  45.0
17  69.0  15.0   NaN
18   2.0  32.0  66.0
19  64.0  95.0  10.0
20  65.0  65.0  60.0
21  63.0  91.0  14.0
22  39.0   NaN  33.0
23  66.0  83.0  56.0
24  19.0   7.0  53.0
25  94.0  32.0  85.0
26  79.0  43.0  13.0
27   NaN  63.0  48.0
28  93.0  79.0   9.0
29  38.0  56.0   NaN
30  70.0  31.0  37.0
31   5.0   0.0   7.0
32  24.0   NaN  94.0
33  65.0  37.0  74.0
34  69.0   NaN  47.0
35  67.0  67.0  77.0
36  74.0  84.0  16.0
37  21.0  89.0  83.0
38  30.0  68.0  69.0
39  31.0  30.0   NaN
40  75.0  21.0  65.0
41  39.0  90.0  35.0
42  18.0  76.0   0.0
43  13.0  53.0  87.0
44   NaN  58.0  69.0
45  94.0   NaN  87.0
46  71.0  60.0  55.0
47  98.0   NaN  53.0
48  28.0  45.0  47.0
49  64.0  56.0  53.0

In [5]:
#d
sortdf=df.sort_values('1')
sortdf

       1     2     3
18   2.0  32.0  66.0
16   3.0   0.0  45.0
31   5.0   0.0   7.0
7    9.0  53.0  52.0
6   12.0   7.0  80.0
43  13.0  53.0  87.0
42  18.0  76.0   0.0
24  19.0   7.0  53.0
37  21.0  89.0  83.0
32  24.0   NaN  94.0
48  28.0  45.0  47.0
38  30.0  68.0  69.0
39  31.0  30.0   NaN
29  38.0  56.0   NaN
41  39.0  90.0  35.0
22  39.0   NaN  33.0
0   46.0  86.0  82.0
2   48.0   1.0   NaN
4   50.0  43.0  39.0
5   52.0  70.0  80.0
10  58.0   NaN  61.0
21  63.0  91.0  14.0
49  64.0  56.0  53.0
19  64.0  95.0  10.0
20  65.0  65.0  60.0
33  65.0  37.0  74.0
23  66.0  83.0  56.0
35  67.0  67.0  77.0
13  69.0  24.0  28.0
17  69.0  15.0   NaN
34  69.0   NaN  47.0
30  70.0  31.0  37.0
46  71.0  60.0  55.0
36  74.0  84.0  16.0
40  75.0  21.0  65.0
26  79.0  43.0  13.0
9   83.0   6.0  21.0
3   84.0  98.0  10.0
11  86.0  11.0  99.0
1   93.0  78.0  28.0
28  93.0  79.0   9.0
45  94.0   NaN  87.0
25  94.0  32.0  85.0
12  96.0   NaN  70.0
47  98.0   NaN  53.0
8    NaN  90.0  86.0
14   NaN  59.0  53.0
27   NaN  63.0  48.0
44   NaN  58.0  69.0

In [6]:
#e
df =df.drop_duplicates(subset='1',keep = "first")
df

       1     2     3
0   46.0  86.0  82.0
1   93.0  78.0  28.0
2   48.0   1.0   NaN
3   84.0  98.0  10.0
4   50.0  43.0  39.0
5   52.0  70.0  80.0
6   12.0   7.0  80.0
7    9.0  53.0  52.0
8    NaN  90.0  86.0
9   83.0   6.0  21.0
10  58.0   NaN  61.0
11  86.0  11.0  99.0
12  96.0   NaN  70.0
13  69.0  24.0  28.0
16   3.0   0.0  45.0
18   2.0  32.0  66.0
19  64.0  95.0  10.0
20  65.0  65.0  60.0
21  63.0  91.0  14.0
22  39.0   NaN  33.0
23  66.0  83.0  56.0
24  19.0   7.0  53.0
25  94.0  32.0  85.0
26  79.0  43.0  13.0
29  38.0  56.0   NaN
30  70.0  31.0  37.0
31   5.0   0.0   7.0
32  24.0   NaN  94.0
35  67.0  67.0  77.0
36  74.0  84.0  16.0
37  21.0  89.0  83.0
38  30.0  68.0  69.0
39  31.0  30.0   NaN
40  75.0  21.0  65.0
42  18.0  76.0   0.0
43  13.0  53.0  87.0
46  71.0  60.0  55.0
47  98.0   NaN  53.0
48  28.0  45.0  47.0

In [7]:
#f
correlation = df['1'].corr(df['2'])
print("Correlation 1&2: ", correlation)
covariance = df['2'].cov(df['3'])
print("Covariance col 2&3 :",covariance)

Correlation 1&2:  0.23596283183413475
Covariance col 2&3 : -77.0

In [11]:
#g
q1= df.quantile(0.25)
q3=df.quantile(0.75)
print(q3, q1)
print(len(df))
IQR = q3 - q1
print(IQR)

upper_bound = q3 + 1.5 * IQR
lower_bound = q1 - 1.5 * IQR
print(upper_bound)
print(lower_bound)

d1 = df[df < upper_bound]
d2= df[df > lower_bound]
print(len(df))

1    73.25
2    77.50
3    77.75
Name: 0.75, dtype: float64 1    25.0
2    25.5
3    28.0
Name: 0.25, dtype: float64
39
1    48.25
2    52.00
3    49.75
dtype: float64
1    145.625
2    155.500
3    152.375
dtype: float64
1   -47.375
2   -52.500
3   -46.625
dtype: float64
39

In [12]:
#h
df1 =  pd.cut(df['2'],bins=5).head()
df1

TypeError: putmask: first argument must be an array